* {
    margin: 0px;
    padding: 0px;
}
header {
    border-bottom: 2px gray solid;
}
/*.wrapper header {
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}*/
.headercontent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu ul li {
    display: inline-block;
}
a {
    text-decoration: none;
}
.logo {
    font-family: Arial;
}
.menu a {
    padding: 15px;
    /*border: 1px #000000 solid;*/
    background: aqua;
}
.menu a:hover{
    background: lime;
}
span{
    font-weight: bold;
    color: black ;
}
img {
    display: inline;
    float: left;
    width: 400px;
    margin: 40px ;
    border: 2px gray solid;
}
footer {
    text-align: center;
    color: blue;
}
.info {
    font-size: 20px;
    font-family: Arial;
    padding-right: 20px;
}
.info p {
    display: inline-block;
    padding: 10px;
}
h1 {
    font-size: 36px;
}
.content-left{
    width: 40%;
    margin-left: 50px;
}
.content-right{
    width: 40%;
    margin-right: 50px;
}
.contentdata{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;

}
.photo1 {
    width: 200px;
}
.photo2 {
    width: 150px;
    float: right;
}
.wrapper {
    padding: 50px;
    max-width: 1360px;
}
